.rbtn.rbtn-primary, .contacts-info .contacts-item > a, .feature-icon-wrap, .feature-card, .top-section .top-background-svg, .top-section .hero-space .hero-text:before, .top-section .hero-space .hero-text, #overlay, .navbar-top .btn-sidebar, .navbar-top nav > a > span, .navbar-top nav > a, .navbar-top:before, .navbar-top, .container {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contacts-section, .gallery-section, .top-section {
  background: #00171f;
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  color: #f8f9fa;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button {
  font: inherit;
}

.navbar-top {
  padding: 1rem 0;
  font-size: 20px;
}
.navbar-top * {
  z-index: 90;
}
.navbar-top:before {
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: rgba(0, 126, 167, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 126, 167, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.navbar-top.scrolled {
  padding: 0 0;
}
.navbar-top.scrolled:before {
  background: rgba(0, 126, 167, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 126, 167, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 1;
}
.navbar-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-top nav {
  display: flex;
  justify-content: space-between;
  -ms-flex-preferred-size: 0;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.navbar-top nav > a {
  display: block;
  padding: 0.5rem 0.5rem;
  margin-top: 3px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}
.navbar-top nav > a:hover {
  text-decoration: none;
}
.navbar-top nav > a:hover span {
  opacity: 1;
}
.navbar-top nav > a.active {
  border-bottom: 3px solid white;
}
.navbar-top nav > a.active span {
  opacity: 1;
}
.navbar-top nav > a > span {
  opacity: 0.7;
}
.navbar-top .nav-brand {
  display: none;
  font-size: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-top .btn-sidebar {
  display: none;
  color: inherit;
  font-size: 20px;
  opacity: 0.7;
}
.navbar-top .btn-sidebar:hover {
  opacity: 1;
}
.navbar-top .btn-sidebar:focus {
  border: none;
  outline: none;
}
.navbar-top .telephone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}
.navbar-top .telephone img {
  margin-right: 10px;
}
.navbar-top .telephone h4 {
  font-size: inherit;
  margin: 0 0;
  padding: 0 0;
}
.navbar-top .telephone:hover {
  cursor: pointer;
  color: #4adc3a;
}
@media screen and (max-width: 991px) {
  .navbar-top nav {
    display: none;
  }
  .navbar-top .nav-brand {
    display: block;
  }
  .navbar-top .btn-sidebar {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar-top {
    font-size: 20px;
  }
}
@media screen and (max-width: 542px) {
  .navbar-top .nav-brand {
    display: none;
  }
}

/* The side navigation menu */
.side-nav {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  height: 100vh;
  /* 100% Full-height */
  width: 50%;
  min-width: 16rem;
  transform: translateX(-100%);
  position: fixed;
  /* Stay in place */
  z-index: 9900;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-image: linear-gradient(to right top, #00171f, #031f2a, #032836, #023242, #013b4e);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}
.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #bebebe;
  display: block;
  transition: 0.3s;
}
.side-nav a span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom: 0 solid #00171f;
}
.side-nav a.active {
  color: white;
}
.side-nav a.active span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom: 2px solid white;
}
.side-nav a:hover {
  color: #ffffff;
}
.side-nav .btn-close-sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-nav.expanded {
  transform: translateX(0);
}

#overlay {
  display: block;
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0;
  pointer-events: none;
}

#overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

.top-section {
  padding-bottom: 2.5rem;
}
.top-section .hero-space {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
}
@media (max-width: 542px) {
  .top-section .hero-space {
    flex-direction: column-reverse;
  }
}
.top-section .hero-space .hero-text {
  margin-right: 5rem;
  padding: 1rem;
  height: auto;
  margin-bottom: auto;
  z-index: 50;
}
.top-section .hero-space .hero-text:before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 126, 167, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 126, 167, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 1;
}
@media (min-width: 1420px) {
  .top-section .hero-space .hero-text:before {
    opacity: 0;
  }
}
@media (max-width: 542px) {
  .top-section .hero-space .hero-text {
    width: 100%;
    margin-right: 0;
    margin-top: -50%;
  }
}
.top-section .hero-space .hero-text a {
  float: right;
}
.top-section .hero-space .top-smartphone {
  display: block;
  position: relative;
  width: 40rem;
  margin-bottom: auto;
}
@media (max-width: 542px) {
  .top-section .hero-space .top-smartphone {
    width: 70%;
    z-index: 40;
    margin-left: auto;
    margin-right: auto;
  }
}
.top-section .hero-space .top-smartphone #smBottom, .top-section .hero-space .top-smartphone #smCase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.top-section .hero-space .top-smartphone #smCase {
  position: initial;
  z-index: 20;
}
.top-section .hero-space .top-smartphone #smBottom {
  z-index: -1;
}
.top-section .hero-space .top-smartphone #smColor {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  border-radius: 10%;
  background: linear-gradient(220deg, #42e2f4, #00c4ff, #4286f4, #f59788, #d2c995);
  background-size: 500% 500%;
  -webkit-animation: smartphone-bg-color 11s ease infinite;
  -moz-animation: smartphone-bg-color 11s ease infinite;
  -o-animation: smartphone-bg-color 11s ease infinite;
  animation: smartphone-bg-color 11s ease infinite;
}
@-webkit-keyframes smartphone-bg-color {
  0% {
    background-position: 94% 0;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0;
  }
}
@-moz-keyframes smartphone-bg-color {
  0% {
    background-position: 94% 0;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0;
  }
}
@-o-keyframes smartphone-bg-color {
  0% {
    background-position: 94% 0;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0;
  }
}
@keyframes smartphone-bg-color {
  0% {
    background-position: 94% 0;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0;
  }
}
.top-section .hero-space .top-smartphone #smLogo {
  position: absolute;
  object-fit: contain;
  width: 70%;
  height: 30%;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.75);
  -webkit-mask: url("/static/svg/cloud_service_logo.svg") no-repeat center;
  mask: url("/static/svg/cloud_service_logo.svg") no-repeat center;
}
.top-section .top-background-svg {
  position: absolute;
  width: 100%;
  max-height: 85%;
  object-fit: cover;
}
@media (max-width: 542px) {
  .top-section .top-background-svg {
    object-fit: cover;
    width: 100%;
    height: 70vh;
  }
}
.top-section .row {
  margin: 12% 0 0;
}

.feature-card {
  display: block !important;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  min-height: 14rem;
  background-color: #f8f9fa;
  padding: 50px 6% 3%;
  margin: 2.5rem 0;
}
.feature-card h3 {
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.feature-card p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: gray;
}
.feature-card:hover {
  transform: translate(0, -1rem);
  box-shadow: 0 4px 20px -5px rgba(0, 168, 232, 0.4);
  color: white;
  background-color: #00a8e8;
}
.feature-card:hover p, .feature-card:hover h3 {
  color: white;
}

.feature-icon-wrap {
  position: absolute;
  left: 50%;
  top: -50px;
  height: 80px;
  width: 80px;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #00a8e8;
}

.feature-card:hover > .feature-icon-wrap {
  box-shadow: 0 0 20px 0 rgba(0, 168, 232, 0.4);
  background: white;
  color: #00a8e8;
}

.feature-icon {
  position: relative;
  font-size: 40px;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-section {
  background: #0e2229;
  padding: 1.5rem 0;
}
.gallery-section #primarySlider {
  min-height: 10rem;
}
.gallery-section #primarySlider img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.gallery-section #thumbnailsSlider {
  min-height: 2rem;
}

.contacts-section {
  padding: 2rem 0;
}

.contacts-info {
  margin: 2rem 0;
}
.contacts-info a {
  color: white;
}
.contacts-info .contacts-item {
  margin-top: 1.5rem;
  margin-right: auto;
}
.contacts-info .contacts-item > a {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  user-select: text;
}
.contacts-info .contacts-item > a:hover {
  text-decoration: none;
  color: #00a8e8;
  transform: translate(10px 0);
}
.contacts-info .contacts-item i {
  width: 30px;
  font-size: 30px;
  margin-right: 1rem;
}
.contacts-info .contacts-item span {
  word-wrap: break-word;
  word-break: break-word;
}

.maps {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}
.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.feedback-section {
  position: relative;
  padding: 2.5rem 0;
  background-image: url("../img/kompjuternaja-i-mobilnaja-tehnika-2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.feedback-section:after {
  content: "";
  position: absolute;
  background: linear-gradient(-120deg, #42e2f4, #4286f4);
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: -1;
}
.feedback-section .feedback-background {
  position: absolute;
  float: bottom;
}
.feedback-section .feedback-form {
  -ms-flex-preferred-size: 0;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 720px;
  margin-top: 1.5rem;
  padding: 3rem;
  background-image: linear-gradient(to right top, #00171f, #031f2a, #032836, #023242, #013b4e);
  border-radius: 10px;
}
.feedback-section .feedback-form .messages {
  margin-top: 0.5rem;
  color: red;
}
.feedback-section h1, .feedback-section h3 {
  text-align: center;
}

footer {
  padding: 1rem 1rem;
  background: #00171f;
}
footer hr {
  border: none;
  color: darkslategray;
  background-color: gray;
  height: 1px;
}

.rbtn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  outline: none;
}

.rbtn.rbtn-primary {
  border: 1px solid transparent;
  background: #00a8e8;
  color: #fff;
  position: relative;
  top: 0;
  -moz-box-shadow: 0 0 20px -5px rgba(0, 168, 232, 0.5);
  -o-box-shadow: 0 0 20px -5px rgba(0, 168, 232, 0.5);
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 168, 232, 0.5);
  box-shadow: 0 0 20px -5px rgba(0, 168, 232, 0.5);
}
.rbtn.rbtn-primary:hover {
  transform: translate(0, -3px);
  -moz-box-shadow: 0 3px 20px -5px rgba(0, 168, 232, 0.7);
  -o-box-shadow: 0 3px 20px -5px rgba(0, 168, 232, 0.7);
  -webkit-box-shadow: 0 3px 20px -5px rgba(0, 168, 232, 0.7);
  box-shadow: 0 3px 20px -5px rgba(0, 168, 232, 0.7);
}
.rbtn.rbtn-primary:focus {
  outline: none;
}
.rbtn.rbtn-primary:active {
  background: #007ea7;
}

/*# sourceMappingURL=landing.css.map */
